# λ°μ΄ν„° μ •μ  λ° κ°€κ³µ

μ΄ λ…ΈνΈλ¶μ€ 1λ‹¨κ³„μ—μ„ ν†µν•©λ λ°μ΄ν„°λ¥Ό μ •μ ν•κ³  κ°€κ³µν•λ” ν”„λ΅μ„Έμ¤λ¥Ό λ‹΄κ³  μμµλ‹λ‹¤.

## ν”„λ΅μ νΈ κ°μ”
- **λ©μ **: ν†µν•©λ λ°μ΄ν„°μ ν’μ§ κ°μ„  λ° λ¶„μ„ μ¤€λΉ„
- **λ°μ΄ν„° μ†μ¤**: `../data/processed/01_consolidated_data.csv`
- **μ£Όμ” μ‘μ—…**: 
  - λ°μ΄ν„° λ¶λ¬μ¤κΈ° λ° κΈ°λ³Έ μ •λ³΄ ν™•μΈ
  - κ²°μΈ΅κ°’ μ²λ¦¬
  - μ¤‘λ³µ λ°μ΄ν„° μ κ±°
  - λ°μ΄ν„° νƒ€μ… μµμ ν™”
  - μ΄μƒκ°’ νƒμ§€ λ° μ²λ¦¬
  - μµμΆ… μ •μ λ λ°μ΄ν„° μ €μ¥

## 1. ν•„μ”ν• λΌμ΄λΈλ¬λ¦¬ λ¶λ¬μ¤κΈ°

λ°μ΄ν„° μ •μ μ— ν•„μ”ν• λΌμ΄λΈλ¬λ¦¬λ“¤μ„ importν•©λ‹λ‹¤.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# ν•κΈ€ ν°νΈ μ„¤μ • (λ§¥OS)
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['axes.unicode_minus'] = False

## 2. λ°μ΄ν„° λ¶λ¬μ¤κΈ°

1λ‹¨κ³„μ—μ„ μ €μ¥ν• ν†µν•© λ°μ΄ν„°λ¥Ό λ¶λ¬μµλ‹λ‹¤.

In [2]:
# 1λ‹¨κ³„μ—μ„ μ €μ¥ν• ν†µν•© λ°μ΄ν„° λ¶λ¬μ¤κΈ°
file_path = '../data/processed/01_consolidated_data.csv'

try:
    df = pd.read_csv(file_path)
    print("λ°μ΄ν„° λ¶λ¬μ¤κΈ° μ„±κ³µ!")
    print(f"λ°μ΄ν„° ν¬κΈ°: {df.shape[0]}κ°μ ν–‰, {df.shape[1]}κ°μ μ—΄")
    display(df.head())
except FileNotFoundError:
    print(f"[μ¤λ¥] νμΌμ„ μ°Ύμ„ μ μ—†μµλ‹λ‹¤: {file_path}")
    print("1λ‹¨κ³„ λ…ΈνΈλ¶ λ§μ§€λ§‰μ— νμΌμ΄ μ •μƒμ μΌλ΅ μ €μ¥λμ—λ”μ§€ ν™•μΈν•΄μ£Όμ„Έμ”.")

λ°μ΄ν„° λ¶λ¬μ¤κΈ° μ„±κ³µ!
λ°μ΄ν„° ν¬κΈ°: 36113κ°μ ν–‰, 67κ°μ μ—΄

,mb_sn,Q1,Q2,Q3,Q4,Q5,Q5_1,Q6,Q7,Q8,...,λ¬Έν•­1_qpoll_join_250714,λ¬Έν•­1_qpoll_join_250221,λ¬Έν•­1_qpoll_join_250626,λ¬Έν•­1_qpoll_join_250723,λ¬Έν•­1_qpoll_join_250627,λ¬Έν•­1_qpoll_join_250328,λ¬Έν•­1_qpoll_join_250703,λ¬Έν•­1_qpoll_join_250611,λ¬Έν•­1_qpoll_join_250304,λ¬Έν•­2_qpoll_join_250304
0,w131784019041454,2.0,3.0,5.0,1.0,5,13,4.0,4.0,"1,2,3,4,5,,7,8,9,,11,,,14,15,,17,18,,20,,22,23...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,w10403443472424,2.0,1.0,3.0,2.0,4,1,8.0,8.0,"1,2,3,4,5,,7,,9,,11,12,,,15,16,,,19,20,,22,23,...",...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,w181629889821619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,w223949436321039,2.0,2.0,4.0,1.0,8,21,5.0,5.0,"1,2,,4,5,6,,,9,,11,12,,,15,,,,,,,22,23,,25,,,28",...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
4,w303750980346998,1.0,NaN,1.0,3.0,4,1,3.0,3.0,"1,2,,4,5,,,,9,,,,,,,,,18,,20,,22,23,,25,26,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3. λ°μ΄ν„° κΈ°λ³Έ μ •λ³΄ ν™•μΈ

λ°μ΄ν„°μ κµ¬μ΅°μ™€ ν’μ§μ„ νμ•…ν•©λ‹λ‹¤.

In [3]:
# λ°μ΄ν„° κΈ°λ³Έ μ •λ³΄
print("=== λ°μ΄ν„° κΈ°λ³Έ μ •λ³΄ ===")
print(f"λ°μ΄ν„° ν¬κΈ°: {df.shape}")
print(f"λ©”λ¨λ¦¬ μ‚¬μ©λ‰: {df.memory_usage(deep=True).sum() / 1024**2:.1f}MB")

print("\n=== λ°μ΄ν„° νƒ€μ… ===")
print(df.dtypes.value_counts())

print("\n=== κ²°μΈ΅κ°’ ν„ν™© ===")
missing_data = df.isnull().sum()
missing_percent = (missing_data / len(df)) * 100
missing_df = pd.DataFrame({
    'κ²°μΈ΅κ°’ κ°μ': missing_data,
    'κ²°μΈ΅κ°’ λΉ„μ¨(%)': missing_percent
})
missing_df = missing_df[missing_df['κ²°μΈ΅κ°’ κ°μ'] > 0].sort_values('κ²°μΈ΅κ°’ κ°μ', ascending=False)
print(missing_df.head(10))

=== λ°μ΄ν„° κΈ°λ³Έ μ •λ³΄ ===
λ°μ΄ν„° ν¬κΈ°: (36113, 67)
λ©”λ¨λ¦¬ μ‚¬μ©λ‰: 59.9MB

=== λ°μ΄ν„° νƒ€μ… ===
float64    37
object     30
Name: count, dtype: int64

=== κ²°μΈ΅κ°’ ν„ν™© ===
                       κ²°μΈ΅κ°’ κ°μ  κ²°μΈ΅κ°’ λΉ„μ¨(%)
Q12_2_ETC               36019  99.739706
Q13_ETC                 35813  99.169274
Q12_1_ETC               35630  98.662531
λ¬Έν•­1_qpoll_join_250723   31582  87.453272
λ¬Έν•­1_qpoll_join_250714   31557  87.384045
λ¬Έν•­1_qpoll_join_250716   31552  87.370199
λ¬Έν•­1_qpoll_join_250710   31546  87.353585
λ¬Έν•­1_qpoll_join_250709   31541  87.339739
λ¬Έν•­1_qpoll_join_250707   31536  87.325894
λ¬Έν•­1_qpoll_join_250704   31493  87.206823

## 4. μ¤‘λ³µ λ°μ΄ν„° ν™•μΈ λ° μ κ±°

μ¤‘λ³µλ λ°μ΄ν„°κ°€ μλ”μ§€ ν™•μΈν•κ³  μ κ±°ν•©λ‹λ‹¤.

In [4]:
# μ¤‘λ³µ λ°μ΄ν„° ν™•μΈ
print("=== μ¤‘λ³µ λ°μ΄ν„° λ¶„μ„ ===")
print(f"μ „μ²΄ ν–‰ μ: {len(df)}")
print(f"κ³ μ ν• mb_sn κ°μ: {df['mb_sn'].nunique()}")
print(f"μ¤‘λ³µλ mb_sn κ°μ: {len(df) - df['mb_sn'].nunique()}")

# μ¤‘λ³µλ mb_sn ν™•μΈ
duplicated_sn = df[df.duplicated(subset=['mb_sn'], keep=False)]
print(f"\nμ¤‘λ³µλ mb_snμ΄ μλ” ν–‰ μ: {len(duplicated_sn)}")

if len(duplicated_sn) > 0:
    print("\nμ¤‘λ³µλ mb_sn μμ‹:")
    print(duplicated_sn[['mb_sn']].head(10))
    
    # μ¤‘λ³µ μ κ±° (μ²« λ²μ§Έ κ°’λ§ μ μ§€)
    print("\nμ¤‘λ³µ μ κ±° μ¤‘...")
    df_clean = df.drop_duplicates(subset=['mb_sn'], keep='first')
    print(f"μ¤‘λ³µ μ κ±° ν›„ ν–‰ μ: {len(df_clean)}")
    
    # μ›λ³Έ λ°μ΄ν„° μ—…λ°μ΄νΈ
    df = df_clean
    print(f"λ°μ΄ν„°κ°€ μ¤‘λ³µ μ κ±°λ λ°μ΄ν„°λ΅ μ—…λ°μ΄νΈλμ—μµλ‹λ‹¤.")
else:
    print("μ¤‘λ³µλ λ°μ΄ν„°κ°€ μ—†μµλ‹λ‹¤.")

=== μ¤‘λ³µ λ°μ΄ν„° λ¶„μ„ ===
μ „μ²΄ ν–‰ μ: 36113
κ³ μ ν• mb_sn κ°μ: 36113
μ¤‘λ³µλ mb_sn κ°μ: 0

μ¤‘λ³µλ mb_snμ΄ μλ” ν–‰ μ: 0
μ¤‘λ³µλ λ°μ΄ν„°κ°€ μ—†μµλ‹λ‹¤.

## 5. κ²°μΈ΅κ°’ μ²λ¦¬

κ²°μΈ΅κ°’μ„ μ μ ν μ²λ¦¬ν•©λ‹λ‹¤.

In [5]:
# κ²°μΈ΅κ°’ μ²λ¦¬ μ „ μƒνƒ
print("=== κ²°μΈ΅κ°’ μ²λ¦¬ μ „ ===")
print(f"μ „μ²΄ κ²°μΈ΅κ°’ κ°μ: {df.isnull().sum().sum()}")
print(f"κ²°μΈ΅κ°’μ΄ μλ” μ»¬λΌ μ: {(df.isnull().sum() > 0).sum()}")

# κ²°μΈ΅κ°’ μ²λ¦¬ μ „λµ
print("\n=== κ²°μΈ΅κ°’ μ²λ¦¬ μ „λµ ===")
print("1. μ«μν• μ»¬λΌ: 0 λλ” ν‰κ· κ°’μΌλ΅ λ€μ²΄")
print("2. λ¬Έμν• μ»¬λΌ: 'Unknown' λλ” 'N/A'λ΅ λ€μ²΄")
print("3. μ„¤λ¬Έ μ‘λ‹µ μ»¬λΌ: κ²°μΈ΅κ°’ μ μ§€ (μ‘λ‹µν•μ§€ μ•μ)")

# μ«μν• μ»¬λΌμ κ²°μΈ΅κ°’μ„ 0μΌλ΅ λ€μ²΄
numeric_columns = df.select_dtypes(include=[np.number]).columns
df[numeric_columns] = df[numeric_columns].fillna(0)

# λ¬Έμν• μ»¬λΌμ κ²°μΈ΅κ°’μ„ 'Unknown'μΌλ΅ λ€μ²΄
string_columns = df.select_dtypes(include=['object']).columns
df[string_columns] = df[string_columns].fillna('Unknown')

print("\n=== κ²°μΈ΅κ°’ μ²λ¦¬ ν›„ ===")
print(f"μ „μ²΄ κ²°μΈ΅κ°’ κ°μ: {df.isnull().sum().sum()}")
print(f"κ²°μΈ΅κ°’μ΄ μλ” μ»¬λΌ μ: {(df.isnull().sum() > 0).sum()}")

=== κ²°μΈ΅κ°’ μ²λ¦¬ μ „ ===
μ „μ²΄ κ²°μΈ΅κ°’ κ°μ: 1597329
κ²°μΈ΅κ°’μ΄ μλ” μ»¬λΌ μ: 66

=== κ²°μΈ΅κ°’ μ²λ¦¬ μ „λµ ===
1. μ«μν• μ»¬λΌ: 0 λλ” ν‰κ· κ°’μΌλ΅ λ€μ²΄
2. λ¬Έμν• μ»¬λΌ: 'Unknown' λλ” 'N/A'λ΅ λ€μ²΄
3. μ„¤λ¬Έ μ‘λ‹µ μ»¬λΌ: κ²°μΈ΅κ°’ μ μ§€ (μ‘λ‹µν•μ§€ μ•μ)

=== κ²°μΈ΅κ°’ μ²λ¦¬ ν›„ ===
μ „μ²΄ κ²°μΈ΅κ°’ κ°μ: 0
κ²°μΈ΅κ°’μ΄ μλ” μ»¬λΌ μ: 0

## 6. μµμΆ… λ°μ΄ν„° ν™•μΈ λ° μ €μ¥

μ •μ λ λ°μ΄ν„°μ μµμΆ… μƒνƒλ¥Ό ν™•μΈν•κ³  μ €μ¥ν•©λ‹λ‹¤.

In [6]:
# μµμΆ… λ°μ΄ν„° ν™•μΈ
print("=== μµμΆ… λ°μ΄ν„° ν™•μΈ ===")
print(f"λ°μ΄ν„° ν¬κΈ°: {df.shape[0]}κ°μ ν–‰, {df.shape[1]}κ°μ μ—΄")
print(f"λ©”λ¨λ¦¬ μ‚¬μ©λ‰: {df.memory_usage(deep=True).sum() / 1024**2:.1f}MB")
print(f"κ²°μΈ΅κ°’ κ°μ: {df.isnull().sum().sum()}")

# λ°μ΄ν„° μ •λ³΄
print("\n=== λ°μ΄ν„° μ •λ³΄ ===")
df.info()

# λ°μ΄ν„° λ―Έλ¦¬λ³΄κΈ°
print("\n=== λ°μ΄ν„° λ―Έλ¦¬λ³΄κΈ° ===")
display(df.head())

# μ •μ λ λ°μ΄ν„° μ €μ¥
output_path = '../data/processed/02_cleaned_data.csv'
df.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f"\nμ •μ λ λ°μ΄ν„°κ°€ '{output_path}'μ— μ €μ¥λμ—μµλ‹λ‹¤.")
print(f"μ €μ¥λ νμΌ ν¬κΈ°: {df.shape}")

print("\nπ‰ λ°μ΄ν„° μ •μ  μ™„λ£!")
print("μ΄μ  λ¶„μ„μ„ μ§„ν–‰ν•  μ μμµλ‹λ‹¤.")

=== μµμΆ… λ°μ΄ν„° ν™•μΈ ===
λ°μ΄ν„° ν¬κΈ°: 36113κ°μ ν–‰, 67κ°μ μ—΄
λ©”λ¨λ¦¬ μ‚¬μ©λ‰: 77.9MB
κ²°μΈ΅κ°’ κ°μ: 0

=== λ°μ΄ν„° μ •λ³΄ ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36113 entries, 0 to 36112
Data columns (total 67 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mb_sn                  36113 non-null  object
 1   Q1                     36113 non-null  float64
 2   Q2                     36113 non-null  float64
 3   Q3                     36113 non-null  float64
 4   Q4                     36113 non-null  float64
 5   Q5                     36113 non-null  object
 6   Q5_1                   36113 non-null  object
 7   Q6                     36113 non-null  float64
 8   Q7                     36113 non-null  float64
 9   Q8                     36113 non-null  object
 10  Q9_1                   36113 non-null  object
 11  Q9_2                   36113 non-null  object
 12  Q10_x                  36113 non-null  float64
 13  Q11_1                  36113 non-null  object
 14  Q11_2                  36113 non-null  object
 15  Q12                    36113 non-null  object
 16  Q12_1_x                36113 non-null  object
 17  Q12_1_ETC              36113 non-null  object
 18  Q12_2_x                36113 non-null  object
 19  Q12_2_ETC              36113 non-null  object
 20  Q13                    36113 non-null  object
 21  Q13_ETC                36113 non-null  object
 22  Q10_y                  36113 non-null  object
 23  Q11                    36113 non-null  object
 24  Q12_1_y                36113 non-null  object
 25  Q12_2_y                36113 non-null  object
 26  λ¬Έν•­1_qpoll_join_250106  36113 non-null  object
 27  λ¬Έν•­1_qpoll_join_250604  36113 non-null  float64
 28  λ¬Έν•­1_qpoll_join_250716  36113 non-null  float64
 29  λ¬Έν•­1_qpoll_join_250624  36113 non-null  float64
 30  λ¬Έν•­1_qpoll_join_250326  36113 non-null  object
 31  λ¬Έν•­1_qpoll_join_250310  36113 non-null  object
 32  λ¬Έν•­2_qpoll_join_250310  36113 non-null  float64
 33  λ¬Έν•­3_qpoll_join_250310  36113 non-null  float64
 34  λ¬Έν•­1_qpoll_join_250605  36113 non-null  float64
 35  λ¬Έν•­1_qpoll_join_250107  36113 non-null  float64
 36  λ¬Έν•­1_qpoll_join_250116  36113 non-null  float64
 37  λ¬Έν•­1_qpoll_join_250317  36113 non-null  object
 38  λ¬Έν•­2_qpoll_join_250317  36113 non-null  float64
 39  λ¬Έν•­3_qpoll_join_250317  36113 non-null  float64
 40  λ¬Έν•­4_qpoll_join_250317  36113 non-null  float64
 41  λ¬Έν•­1_qpoll_join_250710  36113 non-null  object
 42  λ¬Έν•­1_qpoll_join_250707  36113 non-null  float64
 43  λ¬Έν•­1_qpoll_join_250204  36113 non-null  object
 44  λ¬Έν•­1_qpoll_join_250619  36113 non-null  float64
 45  λ¬Έν•­1_qpoll_join_250224  36113 non-null  object
 46  λ¬Έν•­1_qpoll_join_250623  36113 non-null  float64
 47  λ¬Έν•­1_qpoll_join_250620  36113 non-null  float64
 48  λ¬Έν•­1_qpoll_join_250616  36113 non-null  float64
 49  λ¬Έν•­1_qpoll_join_250704  36113 non-null  float64
 50  λ¬Έν•­1_qpoll_join_250206  36113 non-null  float64
 51  λ¬Έν•­1_qpoll_join_250617  36113 non-null  object
 52  λ¬Έν•­1_qpoll_join_250226  36113 non-null  float64
 53  λ¬Έν•­1_qpoll_join_250123  36113 non-null  float64
 54  λ¬Έν•­1_qpoll_join_250709  36113 non-null  object
 55  λ¬Έν•­1_qpoll_join_250610  36113 non-null  float64
 56  λ¬Έν•­1_qpoll_join_250702  36113 non-null  float64
 57  λ¬Έν•­1_qpoll_join_250714  36113 non-null  float64
 58  λ¬Έν•­1_qpoll_join_250221  36113 non-null  float64
 59  λ¬Έν•­1_qpoll_join_250626  36113 non-null  object
 60  λ¬Έν•­1_qpoll_join_250723  36113 non-null  float64
 61  λ¬Έν•­1_qpoll_join_250627  36113 non-null  float64
 62  λ¬Έν•­1_qpoll_join_250328  36113 non-null  float64
 63  λ¬Έν•­1_qpoll_join_250703  36113 non-null  object
 64  λ¬Έν•­1_qpoll_join_250611  36113 non-null  float64
 65  λ¬Έν•­1_qpoll_join_250304  36113 non-null  float64
 66  λ¬Έν•­2_qpoll_join_250304  36113 non-null  float64
dtypes: float64(37), object(30)
memory usage: 18.5+ MB

=== λ°μ΄ν„° λ―Έλ¦¬λ³΄κΈ° ===

,mb_sn,Q1,Q2,Q3,Q4,Q5,Q5_1,Q6,Q7,Q8,...,λ¬Έν•­1_qpoll_join_250714,λ¬Έν•­1_qpoll_join_250221,λ¬Έν•­1_qpoll_join_250626,λ¬Έν•­1_qpoll_join_250723,λ¬Έν•­1_qpoll_join_250627,λ¬Έν•­1_qpoll_join_250328,λ¬Έν•­1_qpoll_join_250703,λ¬Έν•­1_qpoll_join_250611,λ¬Έν•­1_qpoll_join_250304,λ¬Έν•­2_qpoll_join_250304
0,w131784019041454,2.0,3.0,5.0,1.0,5,13,4.0,4.0,"1,2,3,4,5,,7,8,9,,11,,,14,15,,17,18,,20,,22,23...",...,0.0,0.0,Unknown,0.0,0.0,0.0,Unknown,0.0,0.0,0.0
1,w10403443472424,2.0,1.0,3.0,2.0,4,1,8.0,8.0,"1,2,3,4,5,,7,,9,,11,12,,,15,16,,,19,20,,22,23,...",...,3.0,0.0,Unknown,0.0,0.0,0.0,Unknown,0.0,0.0,0.0
2,w181629889821619,0.0,0.0,0.0,0.0,Unknown,Unknown,0.0,0.0,Unknown,...,0.0,0.0,Unknown,0.0,0.0,0.0,Unknown,0.0,0.0,0.0
3,w223949436321039,2.0,2.0,4.0,1.0,8,21,5.0,5.0,"1,2,,4,5,6,,,9,,11,12,,,15,,,,,,,22,23,,25,,,28",...,0.0,1.0,Unknown,0.0,0.0,0.0,Unknown,0.0,3.0,4.0
4,w303750980346998,1.0,0.0,1.0,3.0,4,1,3.0,3.0,"1,2,,4,5,,,,9,,,,,,,,,18,,20,,22,23,,25,26,,",...,0.0,0.0,Unknown,0.0,0.0,0.0,Unknown,0.0,0.0,0.0

μ •μ λ λ°μ΄ν„°κ°€ '../data/processed/02_cleaned_data.csv'μ— μ €μ¥λμ—μµλ‹λ‹¤.
μ €μ¥λ νμΌ ν¬κΈ°: (36113, 67)

π‰ λ°μ΄ν„° μ •μ  μ™„λ£!
μ΄μ  λ¶„μ„μ„ μ§„ν–‰ν•  μ μμµλ‹λ‹¤.